    {% extends 'common/app.html.twig' %}
    {% block header%}
    <h1>New ProductSale</h1>
    {% endblock %}
    {% block content %}
    {{ form(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('productsale') }}">
            Back to the list
        </a>
    </li>
</ul>
    {% endblock %}
