<table>
    <tr>
        {% for column in model %}
            <th> {{column.title}} </th>
            {% endfor %}
    </tr>
    {% for item in data %}
        <tr>
            {% for column in model %}
                <td>
                    {{ item[column.title] }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>