    {% extends 'common/app.html.twig' %}
    {% block header %}
    <h1>OrderProductLine edit</h1>
    {% endblock %}
    {% block content %}
    {{ form(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('orderproductline') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    {% endblock %}
