{% extends 'AppBundle:Dashboard:index.html.twig' %}

{% block items %}
    <div id="div-login" title="Login">
        {% include 'common/flash_messages.html.twig' %}
        <form action="{{ path('login_check') }}" method="post">
            <table width="100%">
                <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>
                        <input type="text" id="username" name="_username" 
                                                   value="{{ last_username }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password:</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="_password" />
                    </td>
                </tr>
                <tr>
                    <td>
                       
                    </td>
                    <td>
                        <button type="submit">login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}