    {% extends 'common/app.html.twig' %}
    {% block header%}
    <h1>Customer</h1>
    {% endblock %}
    {% block content%}
    <table class="record_properties">
        <tbody>            <tr>
                <th>Id</th>                    <td>
                        {{ entity.id }}
                    </td>            </tr>        </tbody>
    </table>
        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    {% endblock %}
