{% extends 'common/app.html.twig' %}
{% block header %} Edit category {% endblock %}
{% block content %}
    {% include 'catalog/category/edit-ajax.html.twig' %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    <a href="{{ path('catalog_category_list') }}">Back to list</a>
{% endblock %}