{% set showUrl = path(
'catalog_category_show',
{'categoryId': category.id})
%}
{% set editUrl = path(
'catalog_category_edit',
{'categoryId': category.id})
%}
<li>
    <div style="float: left">
        <a href="{{ showUrl }}">{{ category.label }}</a>
    </div>
    <div style="float: right">
        <a href="{{ editUrl }}" class="ui-button button">Edit</a>
    </div>
    {% if category.children is not empty %}
        <ul style="width: 200px">
            {% for child in category.children %}
                {% include 'catalog/category/tree-node.html.twig'
                with {category:child} %}
            {% endfor %}
        </ul>
    {% endif %}
    <div style="clear: both"></div>
</li>