<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services 
            http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="app.order_before_create" 
        type="constant">AppBundle\Event\Order\OrderEvent::BEFORE_CREATE</parameter>
        <parameter key="app.order_after_create" 
        type="constant">AppBundle\Event\Order\OrderEvent::AFTER_CREATE</parameter>
        <parameter key="app.order_reservation_failed" 
        type="constant">AppBundle\Event\Order\OrderEvent::PRODUCTS_RESERVATION_FAILED</parameter>
        <parameter key="app.order_products_reserved" 
        type="constant">AppBundle\Event\Order\OrderEvent::PRODUCTS_RESERVED</parameter>
        <parameter key="app.order_packaging_start" 
        type="constant">AppBundle\Event\Order\OrderEvent::PACKAGING_START</parameter>
        <parameter key="app.order_packaging_end" 
        type="constant">AppBundle\Event\Order\OrderEvent::PACKAGING_END</parameter>
        <parameter key="app.order_invoice_generated" 
        type="constant">AppBundle\Event\Order\OrderEvent::INVOICE_GENERATED</parameter>
        <parameter key="app.order_delivery_start" 
        type="constant">AppBundle\Event\Order\OrderEvent::DELIVERY_START</parameter>
        <parameter key="app.order_delivery_end" 
        type="constant">AppBundle\Event\Order\OrderEvent::DELIVERY_END</parameter>
    </parameters>
</container>


