.jqdesktop-content {
    background: -webkit-radial-gradient(
        closest-side, 
        rgba(232,233,242,1) 0, 
        rgba(167,172,201,1) 53%, 
        rgba(126,135,178,1) 98%, 
        rgba(126,135,178,1) 100%
        );
    background: -moz-radial-gradient(
        closest-side, 
        rgba(232,233,242,1) 0, 
        rgba(167,172,201,1) 53%, 
        rgba(126,135,178,1) 98%, 
        rgba(126,135,178,1) 100%
        );
    background: radial-gradient(
        closest-side, 
        rgba(232,233,242,1) 0, 
        rgba(167,172,201,1) 53%, 
        rgba(126,135,178,1) 98%, 
        rgba(126,135,178,1) 100%
        );
}

#dashboard {
    height: 100%;
}

html, body {
    height:100%;
    overflow: hidden;
    margin:0px;
    padding:0px;
    font-size: 12px;
}

.jqdesktop-window-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.jqdesktop-icon-container{
    margin: 5px;
}